# DATABASE_URL=sqlite://db.sqlite3
FORWARDED_PROTO=http
UPLOAD_DIR=../uploads
TRASH_DIR=../uploads/.trash
DEFAULT_MAX_UPLOAD_SIZE=104857600
INITIAL_TOKEN_LENGTH=5
RESERVED_NAMES=api,static,assets,metrics,admin

UMAMI_URL_BASE=https://uma.example.com.br
UMAMI_WEBSITE_ID=4863df05-xxxx-xxxx-xxxx-xxxxxxxxxxxx
UMAMI_HOSTNAME=uma.example.com

PORT=8000
PROXY=i
CDN=im
