# DATABASE_URL=sqlite://db.sqlite3
UPLOAD_DIR=./uploads
TRASH_DIR=./uploads/.trash
THUMB_DIR=./uploads/preview
INITIAL_TOKEN_LENGTH=5
RESERVED_NAMES=api,static,assets,metrics,admin

UMAMI_URL_BASE=https://uma.example.com.br
UMAMI_WEBSITE_ID=4863df05-xxxx-xxxx-xxxx-xxxxxxxxxxxx
UMAMI_HOSTNAME=uma.example.com

DEFAULT_MAX_UPLOAD_SIZE=104857600
FORWARDED_PROTO=http
PORT=8000
PROXY=i
CDN=im
